<div class="mat-h1">sidenav-menu works!</div>

<mat-nav-list>
  <a mat-list-item routerLink="stack-blitz" (click)="onClose()">
    <!-- <mat-icon>face</mat-icon> -->
    <div class="nav-caption">Stack blitz</div>
  </a>
  <a mat-list-item routerLink="mozilla-holy-grail-layout" (click)="onClose()">
    <!-- <mat-icon>input</mat-icon> -->
    <div class="nav-caption">Holy grail</div>
  </a>
  <a mat-list-item routerLink="complex-column-ordering" (click)="onClose()">
    <div class="nav-caption">Complex column ordering</div>
  </a>
  <a mat-list-item routerLink="stack-overflow-grid-area" (click)="onClose()">
    <div class="nav-caption">Grid area</div>
  </a>
  <a mat-list-item routerLink="js-fiddle-grid-with-column-spans" (click)="onClose()">
    <div class="nav-caption">Fiddle grid with column spans</div>
  </a>
  <a mat-list-item routerLink="f-align-content" (click)="onClose()">
    <div class="nav-caption">Flex align content</div>
  </a>
  <a mat-list-item routerLink="app-menu" (click)="onClose()">
    <div class="nav-caption">Menu</div>
  </a>
  <a mat-list-item routerLink="fx-hide-component" (click)="onClose()">
    <div class="nav-caption">fx-hide</div>
  </a>
</mat-nav-list>
