div {
    margin: 2px;
    padding: 5px;
    /* border: solid 1px cyan; */
    
}

div a {
    text-decoration: none;
}
a {
    color: lightslategray;
}
a:hover {
    color: aqua;
    text-shadow: 2px 2px 4px #000000;
}
/* .menu-panel {
    width: 100%;
} */
