<h1>f-align-content works!</h1>

<!-- <div fxLayout="row wrap"> -->
<div fxLayout="row wrap">
<!-- <div fxFlex="1 0 auto"> -->
  <div class="flexitem one">1 one</div>
  <div class="flexitem two">2 two</div>
  <div class="flexitem three">3 tree</div>
  <div fxFlexAlign="end" class="flexitem four">4 four</div>
  <div fxFlexAlign="stretch" class="flexitem five">5 five</div>
  <div class="flexitem six">6 six</div>
  <div fxFlex="1 0 auto" class="flexitem seven">7 seven</div>
  <div class="flexitem eight">8 eight</div>
  <div fxFlexAlign="center" fxFlex="1 0 auto" class="flexitem nine">9 nine</div>
  <div fxFlex="1 0 auto" class="flexitem ten">10 ten</div>
</div>
