<h1><a href="http://jsfiddle.net/tndgvkfq/">JsFiddle</a></h1>
Grid with column spans calculated using 'flex: grow shrink calc([...]);' expressions. 
<div class="container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="container">
    <div></div>
    <div class="two"></div>
    <div></div>
</div>
<div class="container">
    <div class="two"></div>
    <div></div>
    <div></div>
</div>
<div class="container">
    <div></div>
    <div></div>
    <div class="two"></div>
</div>
<div class="container">
    <div class="three"></div>
    <div></div>
</div>
<div class="container">
    <div></div>
    <div class="three"></div>
</div>
Note: each cell has 'margin-left:10px' so the 'calc( )' expressions must account for those.
