<div class="mat-h2">menu works!</div>

<div class="menu-panel" >
    <div>menu-item 1</div>
    <div>menu-item 2</div>
    <div>menu-item 3</div>
</div>

<div class="menu-panel" fxLayout="row nowrap" >
<!-- <div class="menu-panel" fxFlex="1 0 auto" fxLayout="row wrap"> -->
    <div>menu-item 1</div>
    <div class="drop-menu dropbtn">sub-right-menu
        <div class="dropright-content">
            <div>
                <a routerLink="#">Link 1</a>
            </div>
            <div>
                <a routerLink="#">Link 2</a>
            </div>
            <div>
                <a routerLink="#">Link 3</a>
            </div>
        </div>
    </div>
    <!-- <div fxFlexFill></div> -->
    <div fxFlex="1 0 auto"></div>
    <div class="drop-menu dropbtn">
        sub-up-menu
        <div class="dropup-content">
            <div>
                <a routerLink="#">Link 1</a>
            </div>
            <div>
                <a routerLink="#">Link 2</a>
            </div>
            <div>
                <a routerLink="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="drop-menu dropbtn">
        sub-down-menu
        <div class="dropdown-content">
            <div>
                <a routerLink="#">Link 1</a>
            </div>
            <div>
                <a routerLink="#">Link 2</a>
            </div>
            <div>
                <a routerLink="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="drop-menu dropbtn">
        sub-lef-menu
        <div class="dropleft-content">
            <div>
                <a routerLink="#">Link 1</a>
            </div>
            <div>
                <a routerLink="#">Link 2</a>
            </div>
            <div>
                <a routerLink="#">Link 3</a>
            </div>
        </div>
    </div>
    <div>menu-item 6</div>
</div>

<h1>menu third version</h1>
<div class="menu-panel">
    <div>menu-item 1</div>
    <div>menu-item 2</div>
    <div>menu-item 3</div>
</div>

<h1 style="display: flex">menu versionusing flex without angular</h1>
<div class="menu-panel" style="display: flex">
    <div>menu-item 1</div>
    <div>menu-item 2</div>
    <div>menu-item 3</div>
</div>
